<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Listado de Libros</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Biblioteca</a>
  
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/autores/">Autores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/libros/">Libros</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/categorias/">Categorias</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/editoriales/">Editoriales</a>
      </li>

    </ul>

  </div>
</nav>

<div class="container mt-5">
<h2>Listado de Libros</h2>
<table class="table">
<thead class="thead-dark">
<tr>
<th>ID</th>
<th>Titulo</th>
<th>Editorial</th>
<th>Categoria</th>
<th>Acciones</th>
</tr>

</thead>
<tbody>
<tr th:each="libro : ${libros}">
<td th:text=${libro.id}></td>
<td th:text=${libro.titulo}></td>
<td th:text=${libro.editorial.nombre}></td>
<td th:text=${libro.categoria.nombre}></td>
<td>
<a th:href="@{'/libros/'+${libro.id}}+'/editar'" class="btn btn-primary btn-sm">Editar</a>
<a th:href="@{'/libros/'+${libro.id}}+'/eliminar'" class="btn btn-danger btn-sm">Eliminar</a>
<a th:href="@{'/libros/'+${libro.id}}+'/autores'" class="btn btn-info btn-sm">Ver Autores</a>

</td>
</tr>
</tbody>
</table>
<a href="/libros/nuevo" class="btn btn-success">Agregar Libro</a>
</div>

</body>
</html>